{% extends 'base.html' %}

{% block title %}Minhas Tarefas{% endblock %}

{% block content %}

<div class="topbar">

    <div>
        <h1>Olá, {{nome}} 👋</h1>
        <p class="subtitle">
            Organize sua produtividade com elegância.
        </p>
    </div>

    <a href="{% url 'tarefas:adicionar' %}" class="btn">
        + Nova Tarefa
    </a>

</div>

<table>

    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Criado em</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>

        {% for tarefa in tarefas %}

        <tr>

            <td>{{tarefa.nome}}</td>

            <td>{{tarefa.descricao}}</td>

            <td>

                {% if tarefa.completo %}
                    <span class="status complete">
                        Completo
                    </span>
                {% else %}
                    <span class="status pending">
                        Pendente
                    </span>
                {% endif %}

            </td>

            <td>{{tarefa.data_criacao}}</td>

            <td>

                <div class="actions">

                    <a
                    href="{% url 'tarefas:editar' tarefa.id %}"
                    class="action-btn edit">

                    Editar

                    </a>

                    <a
                    href="{% url 'tarefas:remover' tarefa.id %}"
                    class="action-btn delete">

                    Remover

                    </a>

                </div>

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}